body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f8f8f8;
    padding: 10px;
    text-align: center;
}

main {
    padding: 20px;
}

.repo-card {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
}

#pagination {
    text-align: center;
    padding: 20px;
}


.repo-card {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}

#repoList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.repo-name {
    color: blue;
    font-weight: bold;
}


#userProfile {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

#profileImage {
    float: left; 
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border: 2px solid #ddd;
    border-radius: 50%; 
}

#userDetails {
    flex-grow: 1;
}


.detail-item {
    margin-bottom: 5px;
    padding: 5px;
    background-color: white;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
}
